.about__section{
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.about__container{
    width: 85%;
    margin: auto;
    padding-top: 92.9px;
    padding-bottom: 92.9px;
}

.about__row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.about__col-1{
    width: 40%;
    position: relative;
    height: auto;
}

.about__imgs-container{
    width: 430px;
    height: 400px;
    position: relative;
}

.about__imgs-container img{
    width: 339px;
    height: 321px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

.about__imgs-container .green-square{
    width: 305px;
    height: 196px;
    background: rgb(51, 173, 135);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.about__col-2{
    width: 60%;
    text-align: left;
    height: auto;
}

.about__col-2__container{
    padding-left: 80px;
}

.about__col-2 h1{
    font-size: 45px;
    color: #5d5d5d;
    margin-top: 0;
    margin-bottom: 40.4px;
}

.about__col-2 p{
    font-size: 19px;
    margin: 0;
    line-height: 35px;
}

.about__col-2 .our-mision{
    font-weight: bold;
}

.about__col-2 .about__main-p{
    margin-bottom: 30px;
}

.about__col-2 .about__empower{
    font-weight: bold;
}

.about__col-2 .about__brand{
    color: #69ab88;
    font-weight: bold;
}

@media(max-width: 1163px){
    .about__row{
        flex-wrap: wrap;
        height: auto;
    }

    .about__col-1, .about__col-2{
        width: 100%;
        margin: auto;
    }
    
    .about__col-2__container{
        padding-left: 0px;
        padding-top: 85px;
    }

    .about__imgs-container{
        margin: auto;
    }
    
}

@media(max-width: 511px){
    .about__col-1{
        height: 400px;
    }

    .about__imgs-container{
        width: 95%;
        height: 100%;
    }

    .about__imgs-container img{
        width: 315px;;
        height: auto;
        
    }

    .about__imgs-container .green-square{
        width: 240px;
        height: 160px;
    }

    .about__col-2__container{
        padding-top: 74px;
    }

    .about__col-2 h1{
        font-size: 32px;
    }

    .about__col-2 p{
        font-size: 16px;
    }
}

@media(max-width: 480px){
    .about__col-1{
        height: 380px;
    }
    .about__imgs-container img{
        width: 285px;
        
    }
}

@media(max-width: 400px){
    .about__col-1{
        height: 350px;
    }
    .about__imgs-container img{
        width: 265px;
    }
    .about__imgs-container .green-square{
        width: 200px;
        height: 160px;
    }
}

@media(max-width: 350px){
    .about__col-1{
        height: 320px;
    }
    .about__imgs-container img{
        width: 80%;
    }
    .about__imgs-container .green-square{
        width: 60%;
        height: 160px;
    }
}

@media(max-width: 350px){
    .about__col-1{
        height: 280px;
    }
    
}


