.approach__section {
    padding: 70px 70px 70px 100px;
    max-width: 1400px;
    margin: auto;
}

.approach__col-2 {
    width: 90%;
    margin: auto;
    text-align: left;
}

.approach__col-2 h4 {
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 50px;
    color: #df803c;
    font-weight: bold;
}

.approach__col-2 h1 {
    color: #5d5d5d;
    font-size: 45px;
    margin-top: 26px;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 58px;
}

.approach__col-2 .learn-more {
    font-size: 22px;
}

.approach__col-2 h2 {
    color: #69ab88;
    font-size: 45px;
    margin-top: 0px;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 58px;
}

@media(max-width: 1163px) {
    .approach__section {
        padding: 70px 70px 70px 100px;
        max-width: 1400px;
        margin: auto;
    }
    .approach__row {
        flex-wrap: wrap;
    }
    .approach__col-1, .approach__col-2 {
        width: 100%;
        margin: auto;
    }
    .approach__col-1 {
        padding-bottom: 85.3px;
    }
    .approach__img-container img {
        width: 557px;
        height: 648px;
    }
    .approach__col-2 {
        margin-left: 0;
    }
    .approach__col-2 h4 {
        margin-top: 12.6px;
    }
    .approach__col-2 h1 {
        margin-top: 35px;
    }
}

@media(max-width: 991px) {
    .approach__section {
        padding: 50px 45px 50px 45px;
        max-width: 1400px;
        margin: auto;
    }

    .approach__img-container img {
        width: 60%;
        height: auto;
    }

}

@media(max-width: 767px) {
    .approach__img-container img {
        width: 80%;
        height: auto;
    }
    .approach__col-2 h1 {
        width: 100%;
        font-size: 28px;
        line-height: 2.4rem;
        margin-top: 20px;
    }
    .approach__col-2 h4 {
  
        font-size: 28px;
    }
    .approach__col-2 h2 {

        font-size: 28px;
    }

    .approach__col-1 {
        padding-bottom: 40px;
    }
}

@media(max-width: 480px) {
    .approach__section {
        padding: 40px 25px 40px 25px;
        max-width: 1400px;
        margin: auto;
    }
    .approach__img-container img {
        width: 100%;
        height: auto;
    }
}