.banner__section{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    background-image: url('../Assets/img/fondocan.png');
    color: #ffffff;
    height: 265.4px;
    position: relative;
}

.banner__container{
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner__container h1{
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    font-weight: bold;
}

@media(max-width: 991px){
    .banner__section{
        padding: 20px 0;
    }
    .banner__container h1{
        font-size: 42px;
    }
}

@media(max-width: 767px){
    .banner__container h1{
        font-size: 38px;
    }
}

@media(max-width: 480px){
    .banner__container h1{
        font-size: 32px;
    }
}