.contact__section{
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.contact__container{
    width: 726.3px;
    margin-left: 105px;
    text-align: left;
    padding: 60px 0;
}

.contact-title__container{
    padding-bottom: 40.5px;
}

.contact-inline-form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.form__container{
    width: 726.3px;
}

.form-control{
    background: rgba(51, 173, 135, 0.15) !important;
}

.inline{
    width: 349.9px;
}

.textarea-inline{
    display: flex;
    align-items: flex-end;
}

.textarea{
    height: 205.8px !important;
    resize: none;
    width: 726.3px;
}

.btn{
    margin-bottom: 17px;
    margin-left: 27.1px;
    padding: 5px 35px !important;
    font-size: 22px;
    text-transform: uppercase;
    background: rgb(51, 173, 135);
    color: white;
}

.btn:hover{
    background: rgb(38, 136, 105);
    color: white;
}

@media(max-width: 991px){
.contact__section{
    width: 100% !important;
}
.contact__container{
    margin: auto;
    width: 100% !important;
    text-align: center;
    justify-content: center;
}
.contact__container form{
    width:100% !important;
}
.contact-inline-form{
    flex-direction: column;
    align-items: center;
}
.textarea-inline{
    flex-direction: column;
    align-items: center;
}
.inline{
    width: 100%;
}
.textarea{
    width: 100%;
}
.btn {
    margin: 0;
    padding: 5px 35px !important;
}
}

