.contact__section{
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.contact__container{
    text-align: left;
    padding: 60px 0;
}

.contact-title__container{
    padding: 40.5px 0 40.5px 105px;
    color: #fff;
    width: 100%;
    background: #375346;
}


.contact-title__container h1{
    font-size: 44px;
}

.contact-title__container h3{
    font-size: 30px;
}

.contact-form__container{
    width: 726.3px;
    margin-top: -20px;
}

.form__contact-form{
    width: 920px;
    margin-left: 105px;
}

.contact-inline-form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.form__container{
    width: 726.3px;
}

.form-control{
    background: rgb(233, 242, 237) !important;
    font-size: 16px;
}

.inline{
    width: 349.9px;
}

select:required:invalid {
    color: rgba(0, 0, 0, 0.6);
  }

.textarea-inline{
    display: flex;
    align-items: flex-end;
}

.textarea{
    height: 205.8px !important;
    resize: none;
    width: 726.3px;
}

.send-btn{
    margin-bottom: 17px;
    margin-left: 27.1px;
    padding: 5px 35px !important;
    font-size: 18px;
    text-transform: uppercase;
    background: #375346;
    color: white;
}

.send-btn:hover{
    background: #273b32;
    color: white;
}

.contact-loading-spinner__container{
    margin-bottom: 17px;
    margin-left: 27.1px;
}

.success-message-sent{
    color: #5d5d5d;
}

.success-message-sent h2{
    font-weight: bolder;
}

.success-message-sent h2, .success-message-sent h5{
    margin-bottom: 18px;
}




@media(max-width: 1250px){
    .textarea-inline{
        display: block;
    }

    .send-btn, .contact-loading-spinner__container{
        margin-left: 0;
    }
}

@media(max-width: 991px){
    .contact-title__container{
        padding: 40.5px 0;
    }

    .contact-title__container h1, .contact-title__container h3{
        width: 70%;
        margin: auto;
    }

    .form__contact-form{
        width: 100%;
        margin-left: 0;
    }

    .contact-form__container, .form__container{
        width: 85%;
        margin: auto;
    }

    .contact-form__container{
        margin-top: -20px;
    }

    .responsive-input{
        width: 47%;
    }

    .inline{
        width: 100%;
    }

    .textarea{
        width: 100%;
    }

    .success-message-sent{
        width: 80%;
        margin: auto;
        text-align: center;
    }
       
}

@media(max-width: 768px){

    .contact-inline-form{
        display: block;
    }

    .responsive-input{
        width: 100%;
    }

    .send-btn{
        width: 100%;
    }

    .contact-loading-spinner__container{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .success-message-sent{
        color: #5d5d5d;
    }
    
    .success-message-sent h2{
        margin-bottom: 18px;
        font-size: 20px;
    }
    
    .success-message-sent h5{
        font-size: 16px;
    }
    
}

@media(max-width: 480px){

    .contact-title__container{
        padding: 28px 0 38px 0;
    }

    .contact-title__container h1{
        font-size: 28px;
    }
    
    .contact-title__container h3{
        font-size: 18px;
        margin-top: 8px;
    }

    .form-control{
        font-size: 13px;
    }

    .send-btn{
        font-size: 19px;
    }
}

