.carousel-section{
    max-width: 1600px !important;
    margin: auto;
    height: 571px;
    margin-top: 55px;
}

.carousel, .carousel-inner{
    height: 100%;
}
.carousel-caption {
    left: 11%;
}

.carousel .carousel-cover-one{
    background-image: url('../Assets/img/main.medic1.png');
    background-repeat:no-repeat;
	background-size:cover;

	width:100%;
	height:100%;
}

.carousel .carousel-cover-two{
    background-image: url('../Assets/img/main.girl.2.png');
    background-repeat:no-repeat;
	background-size:cover;

	width:100%;
	height:100%;
}


.carousel .carousel-cover-three{
    background-image: url('../Assets/img/main.student.3.png');
    background-repeat:no-repeat;
	background-size:cover;

	width:100%;
	height:100%;
}


.carousel-cover-caption {
    text-align: left;
    top: 65px;
    width: 50%;
    padding-right: 10%;
}

.carousel-cover-1 h1 {
    font-size: 64px;
    color: black;
    font-weight: bold;
}

.carousel-cover-1 h1 span{
    color: #69ab88;
    font-weight: bold;
}

.carousel-cover-1 h4 {
    color: #333;
    line-height: 2.1rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
}

.carousel-cover-1 h4 span{
    font-weight: bolder;
}

.carousel-cover-1 .carousel-brand{
    font-weight: bolder;
}

.carousel-cover-1 .carousel-brand span{
    color: #69ab88 !important;
}

.empower-diversity{
    color: #fff !important;
}

.carousel-cover-2 h1{
    font-size: 83px;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
}
.carousel-cover-2 h1 span{
    color: #df803c;
}

.carousel-cover-2 span{
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
}

.carousel-cover-1 img{
    width: 340px;
    margin-bottom: 18px;
}

.carousel-cover-2 h4{
    font-weight: 300;
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
}

.carousel-cover-3 h1{
    font-size: 83px;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    color: #3d3d3d;
}
.carousel-cover-3 h1 span{
    color: #69ab88;
    font-weight: bold;
}

.carousel-cover-3 h4{
    font-weight: 500;
    font-family: 'Mulish', sans-serif;
    color: #3d3d3d;
}

.carousel-cover-3 span{
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    color: #3d3d3d;
}



.carousel-control-next, .carousel-control-prev {
    z-index: 10 !important;
}

.carousel-control-next {
    width: 5%;
}

.carousel-control-prev {
    width: 5%;
}

@media(max-width: 1084px){
    .carousel-control-next {
        width: 10%;
    }
    
    .carousel-control-prev {
        width: 10%;
    }

    .carousel .carousel-cover-one{
        background-position:center center;
    }
    
    .carousel .carousel-cover-two{
        background-position:center center;
    }
    
    
    .carousel .carousel-cover-three{
        background-position:center center;
    }
    
    
    .carousel-cover-1 h1{
        font-size: 44px;
    }

    .carousel-cover-1 h4{
        font-size: 22px;
        line-height: 1.8rem;
    }

    .carousel-cover-2 h1 {
        font-size: 60px;
        font-weight: bolder;
    }

    .carousel-cover-1 img{
        width: 240px;
        margin-bottom: 18px;
    }  
    .carousel-cover-3 h1 {
        font-size: 60px;
        font-weight: bold;
    }
    .carousel-cover-3 h4 {
        font-size: 22px;
    }
}

@media(max-width: 811px){
    .carousel-cover-3 h4{
        font-size: 22px;
    }
}

@media(max-width: 768px){
    .carousel-section{
        height: 741px;
    }

    .carousel .carousel-cover-one{
        background-image: url('../Assets/img/main.3.phone2.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width:100%;
        height:100%;
    }
    .carousel .carousel-cover-two{
        background-image: url('../Assets/img/main2phone2.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width:100%;
        height:100%;
    }
        
    .carousel .carousel-cover-three{
        background-image: url('../Assets/img/main1phone2.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width:100%;
        height:100%;
    }

    .carousel-cover-caption {
        text-align: left;
        top: 25px;
        left: 86px;
        width: 80%;
        margin: auto;
    }

    .carousel-cover-3 img{
        width: 202px;
        margin-bottom: 18px;
    }

    .carousel-btn__container{
        width: 144px;
    }
    .carousel-cover-2 h4{
        font-size: 18px;
    }
    .carousel-cover-2 h1{
        font-size: 46px;
    }

}

@media(max-width: 561px){
    .carousel-section{
        height: 641px;
    }

    .carousel-cover-caption {
        text-align: left;
        top: 10px;
        left: 46px;
        width: 80%;
        margin: auto;
    }

    .carousel-cover-1 h1 {
        font-size: 34px;
        margin-bottom: 18px;
    }

    .carousel-cover-1 h4 {
        font-size: 18px;
    }

    .carousel-cover-1 .carousel-brand{
        display: none;
    }

    .carousel-cover-2 h1 {
        font-size: 40px;
    }

    .carousel-cover-3 img{
        width: 182px;
        margin-bottom: 18px;
    }

    .carousel-cover-3 h4{
        font-size: 18px;
        line-height: 1.2rem;
        font-weight: 500;
    }
    .carousel-cover-1 h4{
        line-height: 1.2rem;
    }
    .carousel-cover-1 img{
        width: 160px;
        margin-bottom: 18px;
    }  
    
    .about-btn {
        width: 120px !important;
    }
    .carousel-cover-3 h1 {
        font-size: 40px;
        font-weight: bold;
    }

    
}