.footer{
    height: 280px;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    background: rgba(51, 173, 135, 0.15);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Mulish', sans-serif;
}   

.brand {
    width: 230px;
    height: auto;
    margin-left: 105px;
    cursor: pointer;
}

.footsquare ul {
    margin-right: 77px;
    list-style: none;
}

.footsquare ul a {
    font-size: 16px;
    font-family: sans-serif;
    list-style-type: none;
    color: #424241;
    margin: 10px 0;
    text-align: right;
    cursor: pointer;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Mulish', sans-serif;
}

.right {
    height: 85.5px;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.right p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    display: inline-flex;
    margin: 37.5px 0;
    font-family: 'Mulish', sans-serif;
}

.footer-country-flags__container{
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.footer-country-flags__container img{
    width: 16px;
    margin-left: 12px;
    cursor: pointer;
}

@media(max-width: 768px){
    .footer{
        display: block;
        text-align: left;
        height: auto;
        padding-top: 45px;
    }
    .brand {
        margin-left: 50px;
    }

    .footsquare ul {
        margin: 0;
        margin-left: 50px;
        padding: 0;
    }
    
    .footsquare ul a {
        font-size: 15px;
        margin: 10px 0;
        text-align: left;
    }

    .footsquare ul a {
        margin-top: 18px;
    }

    .footer-country-flags__container{
        justify-content: flex-start;
        padding-bottom: 45px;
    }

    .footer-country-flags__container img{
        width: 20px;
        margin-left: 0;
        margin-right: 16px;
    }

}