.footer{
    height: 280px;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    background: rgba(51, 173, 135, 0.15);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}   

.brand {
    width: 230px;
    height: auto;
    margin-left: 105px;
}

.footsquare ul {
    margin-right: 77px;
    list-style: none;
}

.footsquare ul a {
    font-size: 15px;
    font-family: sans-serif;
    list-style-type: none;
    color: #424241;
    margin: 10px 0;
    text-align: right;
    cursor: pointer;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
}

.right {
    height: 85.5px;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.right p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    display: inline-flex;
    margin: 37.5px 0;
}

.footer-country-flags__container{
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.footer-country-flags__container img{
    width: 16px;
    margin-left: 12px;
    cursor: pointer;
}

@media(max-width: 991px){

}
@media(max-width: 521px){

}