.navbar {
    justify-content: flex-start !important;
    max-width: 1600px;
    margin: auto;
}

.navbar-brand-img img {
    width: 108px;
    cursor: pointer;
}

.navbar-brand {
    margin-left: 22px;
}

.navbar-nav {
    text-align: left;
    padding: 7px;
}

.navbar-light {
    background-color: white !important;
}

.navbar-toggler {
    border: none !important;
}

.current-language__container {
    position: absolute;
    right: 22px;
    top: 20px;
    font-size: 14px;
}

.current-language__container img {
    width: 18px;
    margin-bottom: 3px;
    margin-left: 1px;
}

.mobile-language__container {
    color: rgba(255, 255, 255, 0.5);
    padding: 7px 2px;
    cursor: pointer;
}

.mobile-language__container img {
    width: 18px;
    margin-bottom: 2.5px;
    margin-left: 0px;
}

.language-options {
    display: none;
}

.nav-link {
    cursor: pointer;
}

@media(min-width: 992px) {
    .navbar-brand {
        margin-left: 8%;
    }
    .navbar-nav {
        width: 95%;
        justify-content: flex-end;
    }
    .nav-link {
        text-transform: uppercase;
        cursor: pointer;
    }
    .last-nav-link {
        margin-right: 25px;
    }
    .current-language__container {
        display: none;
    }
    .mobile-language-options {
        display: none;
    }
    .language-options {
        display: flex;
        flex-direction: row;
    }
    .language__container {
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
        padding: 10px;
        cursor: pointer;
    }
    .language__container img {
        width: 18px;
        margin-bottom: 3px;
        margin-left: 5px;
    }
}