.modal-body{
  text-align: center;
}

.modal-content {
  border-radius: 8px;
}

.modal-world__container{
  width: 100px;
  margin: auto;
  margin-bottom: 25px;
}

.modal-dialog {
  margin-top: 100px;
}

.modal-world__container img{
  width: 100%;
}

.modal-languages__container{
  display: flex;
  flex-direction: column;
  width: 505;
  max-width: 236px;
  margin: auto;
}

.modal-language-btn{
  background: #df803c;
  color: #fff;
  margin-top: 8px;
  border-radius: 8px;
}

.modal-language-btn:hover{
  background: #cf6d27;
  color: #fff;
}

.modal-languages-no-change{
  color: #df803c;
  margin-top: 15px;
  cursor: pointer;
}

.modal-languages-no-change:hover{
  text-decoration: underline;
}

.bottom-bar{
  height: 61.5px;
  background: rgb(55, 171, 134);
  width: 100%;
  max-width: 1600px;
  position: absolute;
  top: 571px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  transition: all .5s ease;
}

.bottom-bar__container{
  position: relative;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.bottom-bar__buttons{
  display: flex;
  width: 330px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bottom-bar__close{
  position: absolute;
  right: 20px;
  width: 28px;
  height: 28px;
  display:flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.bottom-bar__close svg{
  color: #fff;
  font-size: 22px;
}

.bottom-bar__btn{
  font-size: 14px;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 6px 15px;
  cursor: pointer;
  transition: all .5s ease;
  width: 155px;
  text-align: center;
}

.bottom-bar__button-1{
  color: #fff;
}

.bottom-bar__button-1:hover{
  background: #fff;
  color: rgb(55, 171, 134);
}

.bottom-bar__button-2{
  background: #fff;
  color: rgb(55, 171, 134);
}

.bottom-bar__button-2:hover{
  color: rgb(35, 109, 86);
  background: rgb(224, 224, 224);
  border: 1px solid rgb(224, 224, 224);
}

.bottom-bar__transformed{
  width: 166px;
  height: 125px;
  position: fixed;
  right: 0; 
  left: auto;
  transform: none;
  top: 100px;
  border-radius: 8px;
}

.bottom-bar__transformed .bottom-bar__container{
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.bottom-bar__transformed .bottom-bar__buttons{
  flex-direction: column;
  width: 125px;
  height: 75px;
  margin: auto;
  padding-top: 6px;
  align-items: space-between;
}

.bottom-bar__transformed .bottom-bar__btn{
  font-size: 12px;
  width: 135px;
}

.bottom-bar__transformed .bottom-bar__close{
  top: 1px;
  right: 2px;
}

.bottom-bar__transformed .bottom-bar__close svg{
  font-size: 14px;
}


@media(max-width: 768px){
  .bottom-bar{
    position: fixed;
    bottom: 0;
    width: 100%;
    top: auto;
    transition: none;
  }

  .bottom-bar__buttons{
    width: 270px;
  }

  .bottom-bar__btn{
    font-size: 12px;
    width: 130px;
  }

  .bottom-bar__close {
    right: 10px;
  }

  .bottom-bar__close svg{
    font-size: 18px;
  }

  .bottom-bar__transformed{
    width: 100%;
    position: fixed;
    right: auto; 
    top: auto;
    transform: none;
    height: 61.5px;
    border-radius: 0;
  }

  .bottom-bar__transformed .bottom-bar__container{
    flex-direction: row;
    height: 100%;
    align-items: center;
  }
  
  .bottom-bar__transformed .bottom-bar__buttons{
    flex-direction: row;
    width: 270px;
    height: 100%;
    margin: auto;
    align-items: center;
    padding-top: 0;
  }
  
  .bottom-bar__transformed .bottom-bar__btn{
    font-size: 12px;
    width: 130px;
  }
  
  .bottom-bar__transformed .bottom-bar__close{
    top: auto;
    right: 10px;
  }

  .bottom-bar__transformed .bottom-bar__close svg{
    font-size: 18px;
  }
}

@media (max-width:700px) {
  .modal-dialog {
    margin-top: 40%;
  }
}