.modal-body{
  text-align: center;
}

.modal-content {
  border-radius: 8px;
}

.modal-world__container{
  width: 100px;
  margin: auto;
  margin-bottom: 25px;
}

.modal-dialog {
  margin-top: 100px;
}

.modal-world__container img{
  width: 100%;
}

.modal-languages__container{
  display: flex;
  flex-direction: column;
  width: 505;
  max-width: 236px;
  margin: auto;
}

.modal-language-btn{
  background: #df803c;
  color: #fff;
  margin-top: 8px;
  border-radius: 8px;
}

.modal-language-btn:hover{
  background: #cf6d27;
  color: #fff;
}

.modal-languages-no-change{
  color: #df803c;
  margin-top: 15px;
  cursor: pointer;
}

.modal-languages-no-change:hover{
  text-decoration: underline;
}

@media (max-width:700px) {
  .modal-dialog {
    margin-top: 40%;
  }
}